<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="myApp">
<head>
	<title>Bootstrap 101 Template</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	<!--[if lte IE 8]>
	<script>
		document.createElement('ng-include');
		document.createElement('ng-pluralize');
		document.createElement('ng-view');
		// Optionally these for CSS
		document.createElement('ng:include');
		document.createElement('ng:pluralize');
		document.createElement('ng:view');
	</script>
	<script type="text/javascript" src="lib/json2.js"></script>
	<![endif]-->
	<style>.ss{word-wrap:break-word;}</style>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body class="container" ng-controller="HelloController">
	<div class="container" style="border:1px solid #CCC;margin-top:10px;">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ss">{{greeting.text}},World</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ss">测试</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ss">{{greeting.msg | titleCase}}</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ss"><input type="text" focus ng-model="greeting.text" /></div>
		</div>
	</div>
	<a href="#/view1">View1</a><a href="#/view2/{{greeting.text}}">View2</a>
	<div ng-view></div>
	<style>table{width:100%}td{width:50%;height:80px;text-align:center;}</style>
	<br/><br/>
	<div style="border:1px solid red;width:50%;border-radius:5px;:5px;">
		<table cellpadding="0" frame="void" cellspacing="0" border="1" >
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
		</table>
	</div>
	
	
	<script src="lib/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
</body>
</html>