<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="myApp">
<head>
	<title>Bootstrap 101 Template</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	<!--[if lte IE 8]>
	<script>
		document.createElement('ng-include');
		document.createElement('ng-pluralize');
		document.createElement('ng-view');
		// Optionally these for CSS
		document.createElement('ng:include');
		document.createElement('ng:pluralize');
		document.createElement('ng:view');
	</script>
	<script type="text/javascript" src="lib/json2.js"></script>
	<![endif]-->
	<style>.ss{word-wrap:break-word;}table{width:100%;}.circle{border:1px solid red;border-radius:5px;}</style>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body class="container">
	<div class="row">
		<div class="span2 offset5">当前商品名称</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="row">
				<div class="span12">全场已订本商品的买手数量是：</div>
			</div>
			<div class="row">
				<div class="span12">全场未订本商品的买手数量是：</div>
			</div>
			<div class="row">
				<div class="span12">已订本商品的买手量最多的是：</div>
			</div>
			<div class="row">
				<div class="span12">未订本商品的买手量最多的是：</div>
			</div>
		</div>
		<div class="span6">
			<div class="row">
				<div class="span12">160</div>
			</div>
			<div class="row">
				<div class="span12">59</div>
			</div>
			<div class="row">
				<div class="span12">张治洲</div>
			</div>
			<div class="row">
				<div class="span12">李鹏</div>
			</div>
		</div>
	</div>

	<style>
		.table2{margin-top:10px;}
		.table2 table{border:solid #add9c0;border-width:0px 1px 1px 0px;}
		.table2 td{border:solid #add9c0;border-width:1px 0px 0px 1px;}
	</style>
	<div class="table2">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
		</table>
	</div>
	<!--
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ss">{{greeting.text}},World</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ss">测试</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ss">{{greeting.msg | titleCase}}</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ss"><input type="text" focus ng-model="greeting.text" /></div>
	</div>
	
	<script src="lib/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>-->
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/jquery.min.js"></script>
</body>
</html>