<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="myApp">
<head>
	<title>Bootstrap 101 Template</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	<!--[if lte IE 8]>
	<script>
		document.createElement('ng-include');
		document.createElement('ng-pluralize');
		document.createElement('ng-view');
		// Optionally these for CSS
		document.createElement('ng:include');
		document.createElement('ng:pluralize');
		document.createElement('ng:view');
	</script>
	<script type="text/javascript" src="lib/json2.js"></script>
	<![endif]-->
	<!--.ss{word-wrap:break-word;}.circle{border:1px solid red;border-radius:5px;}-->
	<style>table{width:100%;}.textCenter{text-align:center;}</style>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body class="container-fluid" ng-controller="HelloController">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 textCenter">当前商品名称</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="list in data.orderMessage">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{list.name}}：</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{list.value}}</div>
		</div>
	</div>

	<style type="text/css">
		table.add{border-collapse: separate;border-radius:5px;border:1px solid #ddd;}
		table.add td,table.add th{text-align:center;border:solid #ddd;border-width:0 1px 1px 0;}
		table.add td.rt,table.add th.rt{border-right:none;}
		table.add td.bt{border-bottom:none;}
		.sortDesc{display:inline-block;width:0px;height:0px;border-style:solid;border-color:gray transparent;border-width:5px 5px 0;}
		.sortAsc{display:inline-block;width:0px;height:0px;border-style:solid;border-color:gray transparent;border-width:0px 5px 5px;}
	</style>
	<table class="table-striped table-condensed table-hover add">
		<tr><th>买手名称</th><th ng-click="sort()" style="cursor:pointer;">订量<span class="{{isDescOrAsc}}"></span></th><th>属性1</th><th>属性2</th><th>属性3</th></tr>
		<tr ng-repeat="row in data.table" ><td repeat="{{$index}}" ng-repeat="cell in row" counts>{{cell}}</td></tr>
	</table>
	<div class="row-fluid ">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 textCenter">商品描述</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="des in data.description">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{des.name}}：</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{des.value}}</div>
		</div>
	</div>
	<div input-New>AAAAAAAAAAA</div>
	
	<br/>
	<h1>数据源：</h1>
	{{data}}
	<br/><br/><br/>
	<style>
		
	</style>
	<span class="sort"></span>
	<br/><br/><br/><br/>
	<script src="lib/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
		
	<!--
	<div class="row-fluid">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ss">{{greeting.text}},World</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ss">测试</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ss">{{greeting.msg | titleCase}}</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ss"><input type="text" focus ng-model="greeting.text" /></div>
	</div>
	
	-->
		<!--
	<div class="clearfix"></div>
	<div class="circle">
		<table cellpadding="0" cellspacing="0" frame="void" border="1" bgcolor="red">
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
		</table>
	</div>
	<style>
		.table2{margin-top:10px;}
		.table2 table{border:solid #add9c0;border-width:0px 1px 1px 0px;}
		.table2 td{border:solid #add9c0;border-width:1px 0px 0px 1px;}
	</style>
	<div class="table2">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
			<tr>
				<td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td><td>凤飞飞凤飞飞凤飞飞凤飞飞反复</td>
			</tr>
		</table>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-3">111.col-xs-6 .col-sm-3</div>
		<div class="col-xs-6 col-sm-3">222.col-xs-6 .col-sm-3</div>
		 <div class="clearfix visible-xs"></div>
		<div class="col-xs-6 col-sm-3">333.col-xs-6 .col-sm-3</div>
		<div class="col-xs-6 col-sm-3">444.col-xs-6 .col-sm-3</div>
	</div>-->
	<!--table table-bordered -->
</body>
</html>