<html ng-app="myApp">  
    <head lang="en">
        <meta charset="utf-8">
        <title>Getting Started With ngGrid Example</title>  
        <link rel="stylesheet" type="text/css" href="ng-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="ng-grid.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
		<style>
		input{border:0;}
		</style>
    </head>
    <body ng-controller="MyCtrl">
	<!--
	单价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	数量 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单品合计
        <div ng-repeat="a in myData">
		
		<input type="text" ng-model="a.price"/><input type="text" ng-model="a.qty"/><span>{{a.price*a.qty}}</span></div>
		
		<div><span>总计：{{total}}</span></div>-->
		<div class="gridStyle" ng-grid="gridOptions"></div>
		<div class="gridStyle" ng-grid="gridOptionsTotal"></div>
		<div class="gridStyle" ng-grid="gridCenterTotal"></div>
		
    </body>
</html>
