<table>
	<tr>
		<td>Sender</td>
		<td>Subject</td>
		<td>Date</td>
	</tr>
	<tr ng-repeat="message in messages">
		<td>{{message.sender}}</td>
		<td><a href="#/view/{{message.id}}">{{message.subject}}</a></td>
		<td>{{message.date}}</td>
	</tr>
</table>