<html ng-app>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>Shopping Cart</title>
	<script type="text/javascript" src="lib/angular.js"></script>
	<style>
	span{display:inline-block;margin:0 20px;}
	</style>
</head>
<body ng-controller="CartController">
	<script type="text/javascript">
		function CartController($scope,$location){
			$scope.items = [
				{title:'苹果',quantity:8,price:3.95},
				{title:'橘子',quantity:17,price:12.95}
			];
			$scope.removeFromCart = function(index){
				$scope.removeItems.splice($scope.removeItems.length,1,$scope.items[index]);
				$scope.items.splice(index,1);
			}
			$scope.removeItems = [];
			$scope.removeFromDel = function(index){
				$scope.items.splice($scope.items.length,1,$scope.removeItems[index]);
				$scope.removeItems.splice(index,1);
			}
		}
	</script>
	<h1>Cart</h1>
	<div ng-repeat="item in items">
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'/>
		<span>{{item.price | currency}}</span>
		<span>{{item.price*item.quantity | currency}}</span>
		<input type="button" ng-click="removeFromCart($index)" value="Remove" />
	</div>
	<h1>已删物品</h1>
	<div ng-repeat="item in removeItems">
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'/>
		<span>{{item.price | currency}}</span>
		<span>{{item.price*item.quantity | currency}}</span>
		<input type="button" ng-click="removeFromDel($index)" value="Remove" />
	</div>
</body>
</html>