<html ng-app>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript">
		function ShoppingController($scope, $http) {
			$http.get('products.json').success(function(data, status, headers, config) {
				$scope.items = data;
			});
		}
	</script>
</head>
<body ng-controller="ShoppingController">
	<h1>Shop!</h1>
	<div>
		<table>
			<tr ng-repeat="item in items">
				<td>{{item.title}}</td>
				<td>{{item.description}}</td>
				<td>{{item.price | currency}}</td>
			</tr>
		</table>
	</div>
</body>
</html>