<html ng-app="app">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		function SomeController($scope) {
			$scope.message = {text:'nothing clicked yet'};
			$scope.clickUnfocused = function(){
				$scope.message.text = 'unfocused button clicked';
			}
			$scope.clickfocused = function(){
				$scope.message.text = 'focused button clicked';
			}
		}
		var appModule = angular.module('app',[]);
	</script>
</head>
<body ng-controller="SomeController">
	<button ng-click="clickUnfocused()">Not focused</button>
	<button autofocus ng-click="clickfocused()">I'm focused</button>
	<div>{{message.text}}</div>
</body>
</html>