<html ng-app>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body>
	<script type="text/javascript">
		function StartUpController($scope,$location){
			$scope.funding={startingEstimate:0};
			$scope.computeNeeded = function(){
				$scope.funding.needed = $scope.funding.startingEstimate * 10;
			};
			$scope.$watch('funding.startingEstimate',$scope.computeNeeded);
		
		
			$scope.check = true;
		}
		function StartUpController2($scope,$location){
			$scope.startingEstimate = 0;
			$scope.requestFunding = function(){
				window.alert("Sorry,please get more customers first.");
			};
			$scope.computeNeeded = function(){
				$scope.needed = $scope.startingEstimate * 10;
			};
			$scope.reset = function(){
				$scope.startingEstimate = 0;
				alert("aaa");
			};
		
		}
	</script>
	<h2>1</h2>
	<form ng-controller="StartUpController">
		Starting:<input ng-model="funding.startingEstimate" />
		Recommendation:{{funding.needed}}
		<br/><br/><br/>
		<input id="inp" type="checkbox" ng-model="check" ng-click="click()" />
	</form>
	<h2>2</h2>
	<form ng-controller="StartUpController2" ng-submit="requestFunding()">
		Starting:<input ng-change="computeNeeded()" ng-model="startingEstimate" />
		Recommendation:{{needed}}
		<button>Fund my startup!</button><button ng-click="reset()">Reset</button>
		<br/><br/><br/>
	</form>
	
</body>
</html>