﻿<html ng-app>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body>
	<script type="text/javascript">
		function HelloController($scope,$location){
			$scope.greeting = {text:'Hello'};
		}
	</script>
	<div ng-controller="HelloController">
		<p>{{greeting.text}},World</p>
		<input type="text" ng-model="greeting.text" />
	</div>
</body>
</html>