<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body>
	<script type="text/javascript">
		var homeModule = angular.module('HomeModule',[]);
		homeModule.filter('titleCase',function(){
			var titleCaseFilter = function(input){
				var words = input.split(' ');
				for(var i = 0;i<words.length;i++){
					words[i]=words[i].charAt(0).toUpperCase()+words[i].slice(1);
				}
				return words.join(' ');
			}
			return titleCaseFilter;
		});
		function HomeController($scope){
			$scope.pageHeading='behold the majesty of your page title';
		}
	</script>
	<div ng-app='HomeModule' ng-controller="HomeController">
		<h1>{{pageHeading | titleCase}}</h1>
	</div>
</body>
</html>