<html ng-app>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/angular.js"></script>
</head>
<body>
	<script type="text/javascript">
		function(){
			var items={};
			items.query = function(){
				items = [
					{title:'Paint pots',description:'Pots full of paint',price:3.95},
					{title:'bbbb',description:'bbbbbb',price:222.95}
				];
			}
			return items;
		}
		function HelloController(items,$scope){
			
		}
	</script>
	<div ng-controller="HelloController">
		<table>
			<tr ng-repeat="item in items">
				<td>{{item.title}}</td>
				<td>{{item.description}}</td>
				<td>{{item.price | currency}}</td>
			</tr>
		</table>
	</div>
</body>
</html>